#understandable-code .st0 {
  fill: #149992;
  stroke: #149992;
  stroke-miterlimit: 10;
}

#understandable-code .st2 {
  fill: #ffffff;
}

#understandable-code .st3 {
  fill: #57458f;
  stroke: #149992;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#understandable-code .st4 {
  fill: #41479b;
}

#understandable-code .st5 {
  fill: #f5f5f5;
}

#understandable-code .st6 {
  fill: #ff4b55;
}

#understandable-code .st7 {
  fill: none;
}

#understandable-code .st8 {
  fill: #149992;
  stroke: #149992;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#understandable-code .st9 {
  fill: #e5bf1f;
}

#understandable-code .st10 {
  fill: #e5bf1f;
  stroke: #e5bf1f;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#understandable-code .st11 {
  fill: #b23e57;
}

#understandable-code .st12 {
  fill: #dd8f1c;
}

#understandable-code .st13 {
  fill: #149992;
}
