.cards-hub {
  width: 90vw;
  margin-bottom: 5rem;
}

.cards-hub p {
  margin: 1em 0;
  font-size: var(--medium-text);
}

.swiper-container {
  padding: 1em 0 4em 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}
.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 1.5rem;
}

/* =======  DESKTOP VERSION : start ========= */

@media only screen and (min-width: 768px) {
  .cards-hub {
    width: 60vw;
  }
}

/* =======  DESKTOP VERSION : end ========= */
