#category-0 .category-title-wrapper::after, 
#category-0 .w-cat-card-content{
  border-color: rgb(110, 192, 158);
}

#category-0 .title {
  color: rgb(110, 192, 158);
}

#category-1 .category-title-wrapper::after, 
#category-1 .w-cat-card-content{
  border-color: rgb(124, 88, 170);
}

#category-1 .title {
  color: rgb(124, 88, 170);
}