.cards-hub {
  width: 90vw;
}

#category-0 .category-title-wrapper::after,
#category-0 .w-cat-card-content {
  border-color: rgb(110, 192, 158);
}

#category-0 .title {
  color: rgb(110, 192, 158);
}

#category-1 .category-title-wrapper::after,
#category-1 .w-cat-card-content {
  border-color: rgb(124, 88, 170);
}

#category-1 .title {
  color: rgb(124, 88, 170);
}

.w-cat-card-content.hub-content {
  display: flex;
}

/* Let's overwrite swiperjs bullet styles */

.swiper-container {
  padding: 1em 0 4em 0;
  /* margin: 0 1em;
  width: 80%; */
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}
.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 1px;
}
