#safe-space-quotes {
  background-color: 121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#safe-space-quotes #subtitle {
  margin: 1em 0;
  width: 75%;
}
