html,
body {
  margin: 0;
  passing: 0;
}

body {
  background-color: #121212;
  color: #e9e9e9;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
