#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home img {
  width: 60%;
}

.full-height {
  height: 100vh;
}

/* TO DO : juste a mock, change with actual style */
.temporary-comestics {
  padding-top: 3%;
}

.temporary-comestics h1 {
  text-align: center;
  padding: 1em;
}
