/* =======  MOBILE VERSION : start ========= */

#home #mansion svg {
  background: linear-gradient(
    180deg,
    rgba(27, 62, 73, 1) 26%,
    rgba(82, 119, 130, 1) 65%,
    rgba(115, 131, 134, 1) 100%
  );
}

#home #home-worlds-container {
  position: absolute;
  top: 0;
  left: 0;
}

#home #home-worlds-container img {
  padding-top: 2rem;
  margin-bottom: 4em;
}

#home .alternative-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  width: 80%;
}

#home .chevron-container {
  margin-bottom: 0.5rem;
  animation-name: stim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: opacity 2s ease-in-out;
  cursor: pointer;
}

@keyframes stim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

#home #spacer {
  height: 45vh;
}

#home .home-door-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .home-door {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 0.5rem;
  padding: 2em 0;
}

#home .home-door p {
  width: 80%;
}

#home .home-door h2 {
  width: 90%;
  margin-bottom: 1.5rem;
}

#home #spacer-small {
  height: 10vh;
}

/* =======  MOBILE VERSION : end ========= */

/* =======  DESKTOP VERSION : start ========= */

@media only screen and (min-width: 768px) {
  #home #home-worlds-container img {
    width: 30%;
  }
}
