#functions .st0 {
  fill: #e5bf1f;
}

#functions .st1 {
  fill: #ffffff;
}

#functions .st2 {
  fill: #e5bf1f;
  stroke: #e5bf1f;
  stroke-miterlimit: 10;
}

#functions .st3 {
  fill: #e5bf1f;
  stroke: #e5bf1f;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#functions .st4 {
  fill: #41479b;
}

#functions .st5 {
  fill: #f5f5f5;
}

#functions .st6 {
  fill: #ff4b55;
}

#functions .st7 {
  fill: none;
  stroke: #e5bf1f;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#functions .st8 {
  fill: #b23e57;
}

#functions .st9 {
  fill: #dd8f1c;
}

#functions .st10 {
  fill: #149992;
}

#functions .st11 {
  fill: #57458f;
}

#functions .st12 {
  fill: none;
}
