#roadmap-clean-code .st0 {
  fill: #db7373;
}

#roadmap-clean-code .st1 {
  fill: #dd8f1c;
}

#roadmap-clean-code .st2 {
  fill: #149992;
}

#roadmap-clean-code .st3 {
  fill: #b23e57;
}

#roadmap-clean-code .st4 {
  fill: #57458f;
}

#roadmap-clean-code .st5 {
  fill: #caa81d;
}

#roadmap-clean-code .st6 {
  fill: #6fb5cb;
}

#roadmap-clean-code .st7 {
  fill: #88bb6d;
}

#roadmap-clean-code .st8 {
  fill: #ee683f;
}

#roadmap-clean-code .st9 {
  fill: #ffffff;
}

#roadmap-clean-code .st10 {
  /* font-family: 'HyningsHandwritingV2-Regular'; */
  font-family: 'Raleway';
}

#roadmap-clean-code .st11 {
}

#roadmap-clean-code .st12 {
  font-size: 1.3rem;
}

#roadmap-clean-code .st13 {
  font-size: 0.8rem;
}

#roadmap-clean-code .st14 {
  font-size: 0.8rem;
}

#roadmap-clean-code .st15 {
  font-size: 0.8rem;
}

#roadmap-clean-code .st16 {
  font-size: 0.8rem;
}

#roadmap-clean-code .st17 {
  font-size: 0.8rem;
}
