.swipe-card {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  position: absolute;
  width: 100%;
}

.swipe-card-content {
  background-color: #999999;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
}

.swipe-card-content h2 {
  text-align: center;
}
