.fab {
  opacity: 0.9;
  position: fixed;
  bottom: 12vh;
  right: 5vw;
}

.fab svg {
  width: 3.2em;
  fill: #ff4093;
}

.fab.visible {
  display: block;
}

.fab.rotating {
  animation: rotate 0.6s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(180deg);
    opacity: 0;
  }
}
