#ancient-world img {
  width: 100%;
  border-radius: 5rem;
}

#ancient-world #warning-wrapper {
  position: absolute;
  transform: translate(1rem, 28rem);
}

#ancient-world .warning {
  font-size: 1.2rem;
  text-align: center;
  margin: 5rem 0;
  width: 40%;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.1rem;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  background-color: #000000cf;
}
