.quote {
  margin-top: 1rem;
  background-color: #333333c0;
  padding: 1.2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 16em;
}

.quote > * {
  margin: 0.5em 0;
}

.quote p:first-of-type {
  align-self: flex-start;
}

.quote p:last-of-type {
  align-self: flex-end;
}
