nav {
  background-color: #121212;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: #6b6a6a 1px solid;
}

nav img {
  width: 1.5em;
  padding: 1em 0.8em;
}

nav .worlds {
  justify-self: center;
}

nav .active a {
  background-color: pink;
  border: solid 2px red;
}
