nav {
  background-color: #121212;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  border-top: #6b6a6a 1px solid;
  display: flex;
  justify-content: space-around;
}

nav img,
nav svg {
  width: 1.5em;
  height: 1.5em;
  padding: 1em 0.8em;
  cursor: pointer;
}

nav svg {
  fill: whitesmoke;
}

nav .worlds {
  justify-self: center;
}
