nav {
  background-color: #121212;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: #6b6a6a 1px solid;
  display: flex;
  justify-content: space-around;
}

nav img {
  width: 1.5em;
  padding: 1em 0.8em;
  cursor: pointer;
}

nav .worlds {
  justify-self: center;
}

nav .active {
  background-color: #333333;
}
