.card {
  background-color: #121212;
  width: 50vw;
  height: 30vh;
}

.card.big {
  /* width: 90vw;
  height: 30vh; */
}

.card.big img {
  /* width: 90vw;
  height: 30vh; */
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

.card .card-title {
  font-size: 1.4rem;
  text-align: center;
  transform: translateY(-3.5em);
}
