.card {
  background-size: cover;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1rem;
  margin: 1em 0;
}

.card .card-title {
  font-size: 1.4rem;
  text-align: center;
  margin: 0.5rem 0;
  width: 80%;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.1rem;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  background-color: #000000cf;
}

.card.big {
  width: 90vw;
  height: 50vh;
}

/* =======  TABLET VERSION : start ========= */

@media only screen and (min-width: 768px) {
  .card.big {
    width: 40vw;
  }

  .card {
    width: 18vw;
  }
}

/* =======  TABLET VERSION : start ========= */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 25vw;
  }
}

/* =======  TABLET VERSION : end ========= */
/* =======  LARGE DESKTOP VERSION : start ========= */

@media only screen and (min-width: 1440px) {
  .card {
    width: 17vw;
  }
}

/* =======  LARGE DESKTOP VERSION : end ========= */
