.card {
  background-size: cover;
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1rem;
  margin: 1em 0;
}

.card .card-title {
  font-size: 1.4rem;
  text-align: center;
  margin: 1em 0;
  width: 80%;
}

.card.big {
  width: 90vw;
  height: 30vh;
}
