#tinder {
  display: flex;
  flex-direction: column;
}

#tinder #tinder-cards-container {
  position: absolute;
  top: 14vh;
}

#tinder .tinder-card {
  position: absolute;
  width: 100%;
}

#tinder .tinder-card-content {
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.59);
}

#tinder .tinder-card-content-text {
  margin: 0em 0 1em 1rem;
  width: 85%;
  font-size: var(--medium-text);
}

#tinder .tinder-card-content-text-title {
  font-size: var(--big-text);
  font-weight: 600;
  display: block;
}

#tinder #no-cards-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tinder #no-cards-left img {
  width: 40%;
  margin: 1rem;
}

#tinder #no-cards-left #go-back-button {
  align-self: flex-start;
}

#tinder #no-cards-left h3 {
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
}

#tinder #no-cards-left p {
  text-align: center;
  width: 80%;
}

#tinder #no-cards-left p .small-text {
  font-size: var(--small-text);
}

#tinder #tinder-buttons-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#tinder #tinder-buttons-container .action-button {
  padding: 0.6em 0.4em;
  width: 70%;
  cursor: pointer;
  margin: 0.5rem;
  font-weight: 500;
  font-size: var(--medium-text);
}

#tinder #tinder-buttons-container #tinder-left-action {
  background-color: #474646c2;
  color: #e9e9e9de;
}

#tinder #tinder-buttons-container .action-button:disabled {
  opacity: 0.5;
}

#tinder #no-tinder-buttons-container {
  display: flex;
  justify-content: space-evenly;
}

/* =======  DESKTOP VERSION : start ========= */

@media only screen and (min-width: 768px) {
  #tinder #tinder-cards-container {
    top: 25vh;
  }
}

/* =======  DESKTOP VERSION : end ========= */
