#safe-space-quotes {
  background-color: 121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#safe-space-quotes.visible {
  display: block;
}

#safe-space-quotes h2 {
  margin: 1em 0 1em 0;
}

#safe-space-quotes #subtitle {
  margin: 1em 0 1em 0;
  text-align: center;
  width: 75%;
}
