#article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#article-container h2 {
  font-size: calc(2rem + 0.8vw);
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 3rem 0;
  text-transform: none;
}

#article-container #article-head {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;
}

#article-container h1 {
  text-align: center;
  margin: 1em 0;
  width: 90%;
}
