#article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#article-container h2 {
  font-size: 3.5rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 3rem 0;
  text-transform: none;
}

#article-container #article-head {
  width: 100%;
  display: flex;
}

#article-container h1 {
  text-align: center;
  margin: 1em 0;
  width: 90%;
}
