#clean-code-does-it-work .st0 {
  fill: #b23e57;
}
#clean-code-does-it-work .st1 {
  fill: #dd8f1c;
}
#clean-code-does-it-work .st2 {
  fill: #149992;
}
#clean-code-does-it-work .st3 {
  fill: #57458f;
}
#clean-code-does-it-work .st4 {
  fill: #e5bf1f;
}
#clean-code-does-it-work .st5 {
  fill: #ee683f;
}
#clean-code-does-it-work .st6 {
  fill: #ffffff;
}
#clean-code-does-it-work .st7 {
  fill: #f0b4a3;
}
#clean-code-does-it-work .st8 {
  fill: #b78358;
}
#clean-code-does-it-work .st9 {
  fill: #fdeaaf;
}
#clean-code-does-it-work .st10 {
  fill: #f8cc7c;
}
#clean-code-does-it-work .st11 {
  fill: #935d38;
}
#clean-code-does-it-work .st12 {
  fill: #e6eff5;
}
#clean-code-does-it-work .st13 {
  fill: #cdd6de;
}
#clean-code-does-it-work .st14 {
  fill: #80b9f9;
}
#clean-code-does-it-work .st15 {
  fill: #3185db;
}
#clean-code-does-it-work .st16 {
  fill: #ee81a7;
}
#clean-code-does-it-work .st17 {
  fill: #ea6c9d;
}
