/* =======  MOBILE VERSION : start ========= */

#home #mansion svg {
  background: linear-gradient(
    180deg,
    rgba(27, 62, 73, 1) 26%,
    rgba(82, 119, 130, 1) 65%,
    rgba(115, 131, 134, 1) 100%
  );
}

/* #home #language-navbar-wrapper {
  padding: 1rem;
} */

#home #home-worlds-container {
  position: absolute;
  top: var(--language-navbar-height);
  left: 0;
}

#home #home-worlds-container img {
  padding-top: 2rem;
  margin-bottom: 4em;
}

#home .alternative-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  width: 80%;
}

#home .chevron-container {
  margin-bottom: 0.5rem;
  animation-name: stim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: opacity 2s ease-in-out;
  cursor: pointer;
}

@keyframes stim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

#home #spacer {
  height: 45vh;
}

#home .home-door-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .home-door {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 0.5rem;
  padding: 2em 0;
}

#home .home-door p {
  width: 80%;
}

#home .home-door h2 {
  width: 90%;
  margin-bottom: 1.5rem;
}

#home #spacer-small {
  height: 10vh;
}

#home #buttons-container {
  display: flex;
  flex-direction: column;
}

/* =======  MOBILE VERSION : end ========= */

/* =======  DESKTOP VERSION : start ========= */

@media only screen and (min-width: 768px) {
  #home #language-navbar-wrapper {
    padding: 2rem;
  }

  #home #logo {
    width: 40%;
    padding-bottom: 1rem;
  }

  #home #mansion-desktop {
    background: rgb(91, 145, 158);
    background-image: linear-gradient(0deg, #5b919e 0%, #0e4654 100%);
  }

  #home #content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  #home .home-door {
    background-color: #1a1919;
  }

  #home #presentation {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
  }

  #home h2 {
    margin: 0 0 2.5rem 0;
  }

  #home #presentation h2 {
    opacity: 0;
    animation: fadeIn 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  #home #presentation p {
    margin: 2.5rem 0;
    opacity: 0;
    animation: fadeIn 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  #home #buttons-container {
    margin: 2.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0;
    animation: fadeIn 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInLoop {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #home #footprints {
    margin: 2rem 0;
    width: 15%;
  }

  #home #footprints .footprint {
    animation: fadeInLoop 7s infinite;
    animation-fill-mode: both;
  }

  #home #footprints #footprint2 {
    animation-delay: 1s;
  }

  #home #footprints #footprint3 {
    animation-delay: 2s;
  }

  #home #footprints #footprint4 {
    animation-delay: 3s;
  }
  #home #footprints #footprint5 {
    animation-delay: 4s;
  }
  #home #footprints #footprint6 {
    animation-delay: 5s;
  }
  #home #footprints #footprint7 {
    animation-delay: 6s;
  }

  #home #desktop-home-worlds-container .home-door {
    width: 30vw;
    height: 30vh;
    margin: 0 1vw;
  }

  #home #desktop-home-worlds-container {
    display: flex;
  }

  #home #tabs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 4rem 0;
  }
}
