.st0 {
  enable-background: new;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #303237;
}
.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #121212;
}
.st3 {
  fill: #ec567c;
  opacity: 0.6;
}

.st4 {
  fill: #ec567c;
  opacity: 0.6;
}

#cloud01 {
  animation: move1 20s ease;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

#cloud02 {
  animation: move2 20s ease;
  animation-iteration-count: infinite;
}

#cloud03 {
  animation: move1 40s ease;
  animation-iteration-count: infinite;
}

#fatCloud1 {
  animation: moveALittle 10s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#fatCloud2 {
  animation: moveALittle 12s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move1 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-85%, 0);
  }
}

@keyframes moveALittle {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(40%, 0);
  }
}

/* #entree,
#rdcWindowPart01,
#rdcWindowPart02 {
  animation: blink 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#rdcWindowPart01,
#rdcWindowPart02 {
  animation-delay: 0.5s;
} */

/* @keyframes blink {
  0% {
    opacity: 0;
  }
  30%,
  100% {
    opacity: 1;
  }
} */
