#cleaning .st0 {
  fill: #dd8f1c;
}

#cleaning .st1 {
  enable-background: new;
}

#cleaning .st2 {
  fill: #ffffff;
}

#cleaning .st3 {
  fill: #dd8f1c;
  stroke: #dd8f1c;
  stroke-miterlimit: 10;
}

#cleaning .st4 {
  fill: #dd8f1c;
  stroke: #dd8f1c;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#cleaning .st5 {
  fill: #41479b;
}

#cleaning .st6 {
  fill: #f5f5f5;
}

#cleaning .st7 {
  fill: #ff4b55;
}

#cleaning .st8 {
  fill: none;
}

#cleaning .st9 {
  fill: #e5bf1f;
}

#cleaning .st10 {
  fill: #e5bf1f;
  stroke: #e5bf1f;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#cleaning .st11 {
  fill: #b23e57;
}

#cleaning .st12 {
  fill: #149992;
}
