.fab {
  opacity: 0.9;
  display: none;
}

.fab svg {
  width: 3.2em;
  fill: #ff4093;
}

.fab.visible {
  display: block;
}

.fab.rotating {
  animation: rotate 1s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
