#swipe {
  display: flex;
  flex-direction: column;
}

#swipe-cards-container {
  position: absolute;
  top: 7%;
  left: 25%;
  width: 60%;
}

#swipe-buttons-container {
  display: flex;
  justify-content: center;
  /* margin-top: 25em; */
  position: absolute;
  top: 68%;
}

#swipe-buttons-container .action-button {
  padding: 2em;
  background-color: #333333;
  border-radius: 50%;
  margin: 0 2em;
}
