#swipe {
  display: flex;
  flex-direction: column;
}

#swipe #swipe-cards-container {
  position: absolute;
  top: 7%;
  /* left: 25%;
  width: 60%; */
}

#swipe .swipe-card {
  position: absolute;
  width: 100%;
}

#swipe .swipe-card-content {
  background-color: #999999;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
}

#swipe .swipe-card-content h2 {
  text-align: center;
}

#swipe #swipe-buttons-container {
  position: absolute;
  top: 22em;
}

#swipe #swipe-buttons-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 68%;
}

#swipe #swipe-buttons-container .action-button {
  cursor: pointer;
  padding: 2em;
  background-color: #333333;
  border-radius: 50%;
  margin: 0 2em;
}
