#swipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

#swipe #buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  width: 100%;
}

.action-button {
  padding: 2em;
  background-color: cadetblue;
  border: solid 1px cadetblue;
  border-radius: 50%;
}

.absolute {
  position: absolute;
}
