#safe-space {
  /* height: 90vh; */
  background-image: url('../../../resources/img/mocks/safe-space.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#safe-space #swipe-up {
  background-color: #000000;
  padding: 2em;
  transform: translateY(65vh);
}

#safe-space #mini-nav {
  margin: 0.5em 0;
  background-color: #333333;
  padding: 1em 0.8em;
  border-radius: 2em;
  display: flex;
}

#safe-space #mini-nav svg {
  width: 2.5em;
  height: 2.5em;
  padding: 0 1.8em;
}

#safe-space .quote {
  margin-top: 1em;
  background-color: #000000bd;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
}

#safe-space .quote p {
  align-self: flex-end;
}
