#safe-space {
  min-height: 90vh;
  background-image: url('../../../resources/img/mocks/safe-space.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#safe-space #swipe-up {
  background-color: #000000;
  padding: 2em;
}
