#safe-space {
  min-height: 90vh;
  background-image: url('../../../resources/img/mocks/safe-space.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#safe-space #swipe-up {
  background-color: #000000;
  padding: 2em;
  transform: translateY(-20em);
}

#safe-space #mini-nav {
  margin: 0.5em 0;
  background-color: #333333;
  padding: 1em 0.8em;
  border-radius: 2em;
  display: flex;
}

#safe-space #mini-nav svg {
  width: 2.5em;
  height: 2.5em;
  padding: 0 1.8em;
}

.active-icon {
  fill: pink;
}
