.article-content img {
  display: block;
  margin: 5rem auto 1rem;
}

/* Styles for html coming from the database */

.article-content h3 {
  margin: 2rem 0;
  font-size: var(--h3-text);
}

.article-content p {
  display: block;
  margin: 5rem 0;
}

.article-content ul {
  width: 65%;
  margin-left: 2rem;
}

.article-content ul li {
  margin: 1rem 0;
}

.article-content .small-comment {
  color: #999999;
  display: block;
  text-align: right;
}

.article-content .small-comment a {
  color: #bbbbbb;
}

.article-content .small-comment,
.article-content .small-comment a {
  font-size: var(--medium-text);
  font-style: italic;
}

/* .article-content .part {
  display: block;
  margin: 2rem 0;
} */

.article-content h4 {
  display: block;
  margin: 1rem 0;
  font-weight: 600;
}

.article-content .inline-code {
  display: inline;
  color: #ec567c;
  font-size: var(--medium-text);
}

.article-content .code-block {
  display: block;
  background-color: #333333;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  font-size: var(--medium-text);
}

.article-content .code-comment {
  color: #adadad;
}

.article-content .code-comment::after {
  content: '\A';
  white-space: pre;
}

.article-content .code-keyword,
.article-content .code-html-tag {
  color: #ec567c;
}

.article-content .code-variable {
  color: #bbff00;
}

.article-content .code-params {
  color: #ff8800;
}

.article-content .code-string {
  color: #ffee00da;
}

.article-content .code-bracket::after {
  content: '\A';
  white-space: pre;
}
