.article-content img {
  display: block;
  margin: 1em auto;
}

/* Styles for html coming from the database */

.article-content p {
  display: block;
  margin: 1em 0;
}

.article-content h3 {
  margin: 2em 0;
}

.article-content ul {
  width: 65%;
  margin-left: 2rem;
}

.article-content ul li {
  margin: 1em 0;
}

.article-content .small-comment {
  color: #999999;
}

.article-content .small-comment a {
  color: #bbbbbb;
}

.article-content .small-comment,
.article-content .small-comment a {
  font-size: 1.4rem;
  font-style: italic;
}

.article-content .part {
  display: block;
  margin: 2em 0;
}

.article-content .part-title {
  display: block;
  margin: 2em 0 1em 0;
  font-weight: 600;
}

.article-content .code-block {
  display: block;
  background-color: #333333;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1em 0;
  font-size: 1.3rem;
}

.article-content .inline-code {
  display: inline;
  color: #ec567c;
}

.article-content .hljs-comment {
  color: #adadad;
}

.article-content .hljs-comment::after {
  content: '\A';
  white-space: pre;
}

.article-content .hljs-keyword,
.article-content .hljs-tag {
  color: #ec567c;
}

.article-content .hljs-title,
.article-content .hljs-template-variable {
  color: #bbff00;
}

.article-content .hljs-params {
  color: #ff8800;
}

.article-content .hljs-string {
  color: #ffee00da;
}

.article-content .code-bracket::after {
  content: '\A';
  white-space: pre;
}
