#safe-space-chat {
  background-color: 121212;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#safe-space-chat #connect {
  margin: 2em 0 1em 0;
}

#safe-space-chat #connect a {
  color: #ec567c;
}

#safe-space-chat h4 {
  margin: 0 0 1em 0;
}

#safe-space-chat p {
  width: 80%;
}

#safe-space-chat ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#safe-space-chat li:first-of-type {
  margin-top: 0;
}

#safe-space-chat li {
  margin-top: 2rem;
  background-color: #333333c0;
  padding: 1.2rem;
  border-radius: 1rem;
  width: 75%;
}

#safe-space-chat #swag,
#safe-space-chat #internet,
#safe-space-chat #annees-2000 {
  display: inline-block;
}

#safe-space-chat #swag {
  width: 15%;
}

#safe-space-chat #internet {
  width: 20%;
}

#safe-space-chat #annees-2000 {
  width: 35%;
}
