#add {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 3em 2em;
  border-radius: 2em;
  width: 75%;
}

#add form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add form textarea,
#add form input {
  border-radius: 1.5em;
}

#add form textarea:focus,
#add form input:focus {
  outline: none;
}

#add form label {
  display: flex;
}

#add #label-for-quote {
  flex-direction: column;
  text-align: center;
}

#add form textarea {
  width: 16em;
  height: 10em;
  align-self: center;
  margin: 2em 0 0 0;
  padding: 1em;
}

#add form textarea:focus {
}

#add form #label-for-name {
  margin-top: 2em;
  width: 100%;
  justify-content: center;
}

#add form input[name='name'] {
  width: 60%;
  padding: 0.5em 1em;
}

#add form input[type='submit'] {
  margin-top: 2em;
  padding: 0.8em 1.2em;
  border-radius: 2em;
}
