#safe-space-add-quote {
  min-height: 90vh;
  background-image: url('../../../../resources//img/mocks/safe-space.jpg');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#safe-space-add-quote #actions-container {
  display: flex;
  justify-content: flex-start;
}

#safe-space-add-quote #go-back {
  margin: 1em 0 0 1em;
  background-color: #333333;
  padding: 0.5em 1em;
  border-radius: 1em;
}

#safe-space-add-quote #go-back svg {
  fill: #ffffff;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
}

#safe-space-add-quote #add-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
