#swipe {
  display: flex;
  flex-direction: column;
}

#swipe #swipe-cards-container {
  position: absolute;
  top: 7%;
}

#swipe .swipe-card {
  position: absolute;
  width: 100%;
}

#swipe .swipe-card-content {
  background-size: cover;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.59);
}

#swipe .swipe-card-content-text {
  margin: 0em 0 1em 1em;
}

#swipe .swipe-card-content-text-title {
  font-size: 2rem;
  font-weight: 600;
  white-space: pre;
}

#swipe .swipe-card-content-text-title:after {
  content: '\a';
}

#swipe #no-cards-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#swipe #no-cards-left img {
  width: 40%;
  margin: 30% 0;
}

#swipe #swipe-buttons-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#swipe #swipe-buttons-container .action-button {
  cursor: pointer;
  padding: 0.5em;
  margin: 0 2em;
  height: 80%;
  width: 17%;
}

#swipe #swipe-buttons-container .action-button:disabled {
  opacity: 0.5;
}

#swipe #swipe-buttons-container .swipe-button {
  background-color: #333333;
  border-radius: 50%;
}

#swipe #no-swipe-buttons-container {
  display: flex;
  justify-content: space-evenly;
}

#swipe #no-swipe-buttons-container #suggest-a-question {
  /* width: 30%; */
}
