.world-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.world-title-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.world-title {
  flex: 0 1 auto;
  padding-left: 1rem;
  color: rgb(0, 225, 255);
  font-weight: 300;
  font-size: 2rem;  
  /* text-shadow: rgb(0, 225, 255) 0px 0px 0.4em, rgb(0, 225, 255) 0px 0px 0.8em, rgb(0, 255, 255) 0px 0px 1.6em; */
}

.world-title-wrapper::before {
  content: '';
  flex: 1 1 auto;
  border-bottom: solid 1px rgb(0, 225, 255);
}

.title-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.title-wrapper::after {
  content: '';
  flex: 1 1 auto;
  border-bottom: solid 1px rgb(204, 134, 161);
}

.title {
  flex: 0 1 auto;
  padding-right: 1rem;
  color: rgb(204, 134, 161);
  font-weight: 400;
  font-size: 2.5rem; 
  padding-left: 1rem;
  /* text-shadow: rgb(0, 225, 255) 0px 0px 0.4em, rgb(0, 225, 255) 0px 0px 0.8em, rgb(0, 255, 255) 0px 0px 1.6em; */
}

.card-content {
  padding: 2rem;
  border: 1px solid rgb(204, 134, 161);
  border-radius: 1rem;
  /* background-image: url('./../../../../resources/img/icons/swipe-hands.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.card-cta {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}