.world-page {
  display: grid;
  grid-gap: 7rem;
  justify-items: center;
}

.image-card {
  /* Hey Monday, ceci est un hack temporaire pour que le too late to ask soit de la même taille que les autres cards <3 */
  width: 90vw;
}
