nav#secondary-nav {
  border-bottom: #6b6a6a 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav#secondary-nav a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1rem;
}

nav#secondary-nav a sub {
  margin-left: 1rem;
  font-size: calc(1rem + 0.2vw);
}

nav#secondary-nav a img {
  width: 1rem;
  margin-left: 0.5rem;
}

nav#secondary-nav a sub#homepage {
  width: 60%;
}

/* =======  DESKTOP VERSION : start ========= */

@media only screen and (min-width: 768px) {
  nav#secondary-nav {
    top: 0;
  }
}

/* =======  DESKTOP VERSION : end ========= */
