nav#secondary-nav {
  border-bottom: #6b6a6a 1px solid;
  /* padding-left: 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav#secondary-nav a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1rem;
}

nav#secondary-nav a sub {
  margin-left: 1rem;
  font-size: 1.1rem;
}

nav#secondary-nav a img {
  width: 1rem;
  margin-left: 0.5rem;
}

nav#secondary-nav a sub#homepage {
  width: 60%;
}
