#not-yet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#not-yet #logo {
  width: 25em;
}

#not-yet p {
  /* margin: 5em 5em 0 0; */
  width: 30%;
  text-align: center;
}

#not-yet #content {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#not-yet #content p {
  padding: 0 2rem;
}

#not-yet a {
  font-weight: 700;
}

#not-yet video {
  width: 30%;
  margin-left: 3rem;
  border-radius: 6em;
}
