.mini-nav {
  margin: 2em 0;
  background-color: #333333c0;
  padding: 0.8em;
  border-radius: 2em;
  display: flex;
}

.mini-nav svg {
  width: 1.5em;
  height: 1.5em;
  padding: 0 1.8em;
}

.mini-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;
}

.mini-nav-link sub {
  margin-top: 0.5em;
}
