#clean-code-syntax .st0 {
  fill: #b23e57;
}

#clean-code-syntax .st1 {
  fill: #dd8f1c;
}

#clean-code-syntax .st2 {
  fill: #149992;
}

#clean-code-syntax .st3 {
  fill: #57458f;
}

#clean-code-syntax .st4 {
  fill: #e5bf1f;
}

#clean-code-syntax .st5 {
  fill: #88bb6d;
}

#clean-code-syntax .st6 {
  fill: #ffffff;
}
